My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WT0Lb-BhQ6yZ6Ii3DWFpeH-mJarVYpCb",
          "mode": "list",
          "cachedResultName": "Resume",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WT0Lb-BhQ6yZ6Ii3DWFpeH-mJarVYpCb"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        -144
      ],
      "id": "574f8bfa-50b8-4dcb-bc7c-4237ebfce247",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lwMu5fC8K0LA07Rp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c56eb14c-0cca-4c9b-961b-f69c1c115ee3",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -144
      ],
      "id": "87ee9ac3-4cff-4018-ae0f-81fccff5fde4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        -160
      ],
      "id": "2f4423ca-993d-4507-94c7-f8bd28ef5b3c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lwMu5fC8K0LA07Rp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "19tTVYm-iNvuL88LicoFHlN3V5Rig_I7S",
          "mode": "list",
          "cachedResultName": "job description leadsquared.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/19tTVYm-iNvuL88LicoFHlN3V5Rig_I7S/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        80
      ],
      "id": "3b0453ca-f934-4884-9a64-96e27f6bc7a8",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "lwMu5fC8K0LA07Rp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        -48
      ],
      "id": "56b4554e-55ae-44f3-ad4d-8c37cc1f048e",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        720,
        -48
      ],
      "id": "401b6430-0b9a-4b3a-a8f5-426dffe6c27a",
      "name": "Wait",
      "webhookId": "a8e56322-56ad-4ccc-a336-306dc1fd6443"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS resume evaluator.\n\nJOB DESCRIPTION:\n{{ $json.jd_text }}\n\nRESUME:\n{{ $json.resume_text }}\n\nTASK:\n1. Extract candidate_name, mobile, and email from the resume.\n2. Compare the resume against the job description.\n3. Give a relevance_score from 0 to 100.\n4. Clearly explain WHY the score was given.\n\nSCORING RULES:\n- Skills match: 40%\n- Experience relevance: 30%\n- Education fit: 20%\n- Keywords & tools: 10%\n\nIMPORTANT:\n- If something is missing, write \"Not found\".\n- Do NOT invent details.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        -48
      ],
      "id": "a85560a9-a360-4372-ad1a-3c33a2bfa842",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        368
      ],
      "id": "7ad92890-f4e9-43c6-8ec9-03bddff7de57",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "eA9LI1ntZ61xHnhM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output;\n\n// helper function that handles markdown (**label:**)\nconst find = (label) => {\n  const regex = new RegExp(`\\\\*\\\\*${label}:\\\\*\\\\*\\\\s*([^\\\\n]+)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : \"Not found\";\n};\n\n// extract score like 87/100 → 87\nconst extractScore = () => {\n  const regex = new RegExp(\n    \"Relevance Score:[\\\\s\\\\S]*?(\\\\d+)\\\\/100\",\n    \"i\"\n  );\n  const match = text.match(regex);\n  return match ? parseInt(match[1], 10) : 0;\n};\n\n\nreturn [{\n  json: {\n    candidate_name: find(\"candidate_name\"),\n    mobile: \"'\"+find(\"mobile\"),\n    email: find(\"email\"),\n    relevance_score: extractScore(),\n    reasoning: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -48
      ],
      "id": "a49e656a-58c1-4b1b-8e9d-7b6077226f70",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f238c2e-25a0-41d4-8a6d-47fb7664e8a7",
              "leftValue": "={{ $json.candidate_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ef13ca31-7e34-41cf-908b-e6784dfb5ccc",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        -48
      ],
      "id": "9caeacb3-d73e-420e-90a0-395ea442835f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Yy6pK3oorNx5BNi06_rjq88GUtPDiNhESV_eGZ2gz6g",
          "mode": "list",
          "cachedResultName": "Result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Yy6pK3oorNx5BNi06_rjq88GUtPDiNhESV_eGZ2gz6g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Yy6pK3oorNx5BNi06_rjq88GUtPDiNhESV_eGZ2gz6g/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate_name": "={{ $json.candidate_name }}",
            "email": "={{ $json.email }}",
            "mobile": "={{ $json.mobile }}",
            "relevance_score": "={{ $json.relevance_score }}",
            "reasoning": "={{ $json.reasoning }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidate_name",
              "displayName": "candidate_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mobile",
              "displayName": "mobile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "relevance_score",
              "displayName": "relevance_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_file",
              "displayName": "resume_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -64
      ],
      "id": "6aa880ac-f928-4c44-baa6-6e5c7f700a4b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UaXTiWvrgbYhnVqf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        48,
        -160
      ],
      "id": "331feece-2c60-4960-a1f8-870308fe6d63",
      "name": "Extract from resume"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96cba21c-a2e1-43df-9e07-a1836758c4a2",
              "name": "resume_text",
              "value": "={{ $items(\"Extract from resume\")[0].json.text }}",
              "type": "string"
            },
            {
              "id": "0d1155b4-6944-456e-9f0e-f256f02f1fae",
              "name": "jd_text",
              "value": "={{ $items(\"Extract from JD\")[0].json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -48
      ],
      "id": "df331e9d-a156-44ab-a4bc-d232fe2df95c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        48,
        80
      ],
      "id": "3aa32623-fe65-40ae-bb02-ae40b93caeba",
      "name": "Extract from JD"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from resume": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from JD": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9b3b0d3b-7e35-4730-9918-cc9f3817f1c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c2565c240da4a29efafd1f294278e43ce1fcc9a25bf79c57fb206c5024912a0"
  },
  "id": "IplrOjvcCLQ6pCeC",
  "tags": []
}